# Find your Next Job with TigerGraph

## Create your TigerGraph Graph

### Graph

In [ ]:
!pip install pyTigerGraph

Collecting pyTigerGraph
  Downloading pyTigerGraph-0.0.9.7.1-py3-none-any.whl (22 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pyTigerGraph) (1.1.5)
Collecting pyTigerDriver==1.0.13
  Downloading pyTigerDriver-1.0.13-py3-none-any.whl (9.7 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pyTigerGraph) (2.23.0)
Collecting validators
  Downloading validators-0.18.2-py3-none-any.whl (19 kB)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pyTigerGraph) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->pyTigerGraph) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyTigerGraph) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pyTigerGraph) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pyTigerGraph) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pyTigerGraph) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pyTigerGraph) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pyTigerGraph) (2.10)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from validators->pyTigerGraph) (4.4.2)
Installing collected packages: validators, pyTigerDriver, pyTigerGraph
Successfully installed pyTigerDriver-1.0.13 pyTigerGraph-0.0.9.7.1 validators-0.18.2

In [ ]:
import pyTigerGraph as tg 

conn = tg.TigerGraphConnection(host="https://SUBDOMAIN.i.tgcloud.io/", password="PASSWORD")

In [ ]:
# NOTE: ONLY UNCOMMENT FOR EMERGENCIES!! IT WILL DELETE EVERYTHING FROM YOUR GRAPH!

# print(conn.gsql('''DROP ALL'''))

Dropping all, about 1 minute ...
Abort all active loading jobs
Try to abort all loading jobs on graph LegoGraph, it may take a while ...
[ABORT_SUCCESS] No active Loading Job to abort.
Resetting GPE...
Successfully reset GPE
Stopping GPE GSE
Successfully stopped GPE GSE in 7.410 seconds
Clearing graph store...
Successfully cleared graph store
Starting GPE GSE RESTPP
Successfully started GPE GSE RESTPP in 0.094 seconds
Everything is dropped.

In [ ]:
print(conn.gsql('''
CREATE VERTEX Job_Option(PRIMARY_ID job_id INT, job_link STRING, num_skills INT, num_reviews DOUBLE, num_stars DOUBLE)
CREATE VERTEX Job_Type(PRIMARY_ID job_type_id STRING) WITH PRIMARY_ID_AS_ATTRIBUTE="true"
CREATE VERTEX Job_Title(PRIMARY_ID job_title_id STRING) WITH PRIMARY_ID_AS_ATTRIBUTE="true"
CREATE VERTEX Salary_Range(PRIMARY_ID salary_range STRING) WITH PRIMARY_ID_AS_ATTRIBUTE="true"
CREATE VERTEX Company(PRIMARY_ID company_name STRING) WITH PRIMARY_ID_AS_ATTRIBUTE="true"
CREATE VERTEX Skill(PRIMARY_ID skill STRING) WITH PRIMARY_ID_AS_ATTRIBUTE="true"

CREATE UNDIRECTED EDGE JOB_OPTION_JOB_TYPE(FROM Job_Option, TO Job_Type)
CREATE UNDIRECTED EDGE JOB_OPTION_JOB_TITLE(FROM Job_Option, TO Job_Title)
CREATE UNDIRECTED EDGE JOB_TYPE_JOB_TITLE(FROM Job_Type, TO Job_Title)
CREATE UNDIRECTED EDGE JOB_OPTION_SALARY_RANGE(FROM Job_Option, To Salary_Range)
CREATE UNDIRECTED EDGE JOB_OPTION_COMPANY(FROM Job_Option, To Company)
CREATE UNDIRECTED EDGE JOB_OPTION_SKILL(FROM Job_Option, To Skill)
'''))

In [ ]:
print(conn.gsql('''
CREATE GRAPH JobGraph(
  Job_Option, Job_Type, Job_Title, Salary_Range, Company, Skill,
  JOB_OPTION_JOB_TYPE, JOB_OPTION_JOB_TITLE, JOB_TYPE_JOB_TITLE, JOB_OPTION_SALARY_RANGE, JOB_OPTION_COMPANY, JOB_OPTION_SKILL
)
'''))

The graph JobGraph is created.

In [ ]:
conn.graphname = "JobGraph"
conn.apiToken = conn.getToken(conn.createSecret())

### Grab Kaggle Data

In [ ]:
! pip install -q kaggle

Go to your Settings, click Account, scroll down to API. 

**Press "Expire" then "Create New Token". It will download a kaggle.json; upload it to the selector below.**

In [ ]:
from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"genericp3rson","key":"17ef90b08777c6862bf7cb65191dae17"}'}

In [ ]:
! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

! chmod 600 ~/.kaggle/kaggle.json

! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              234KB  2021-07-24 09:20:05           9826
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           6049
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           2238
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-07-03 18:37:20           2494
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1024
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           1451
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23            829
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37            807
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            699
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04            676
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            238
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            256
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            103
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            163
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            120
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            110
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         145367
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         140891
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          25233
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          20221

In [ ]:
! kaggle datasets download -d elroyggj/indeed-dataset-data-scientistanalystengineer
! unzip indeed-dataset-data-scientistanalystengineer.zip -d data
! ls data

Downloading indeed-dataset-data-scientistanalystengineer.zip to /content
  0% 0.00/5.05M [00:00<?, ?B/s]
100% 5.05M/5.05M [00:00<00:00, 46.5MB/s]
Archive:  indeed-dataset-data-scientistanalystengineer.zip
  inflating: train/dataset description.txt
  inflating: train/indeed_job_dataset.csv
'dataset description.txt'   indeed_job_dataset.csv

### Loading Data

In [ ]:
import pandas as pd 

data = pd.read_csv("data/indeed_job_dataset.csv")

In [ ]:
data.head()

   Unnamed: 0  ... Other_industries
0           0  ...                0
1           1  ...                0
2           2  ...                0
3           3  ...                1
4           4  ...                0

[5 rows x 43 columns]

In [ ]:
data["id_val"] = [val for val in data["Unnamed: 0"]]
data = data.drop("Unnamed: 0", 1)

In [ ]:
data["id"]

0          0
1          1
2          2
3          3
4          4
        ...
5710    5710
5711    5711
5712    5712
5713    5713
5714    5714
Name: id, Length: 5715, dtype: int64

In [ ]:
data.head()

                                   Job_Title  ... id_val
0                             Data Scientist  ...      0
1                             Data Scientist  ...      1
2                             Data Scientist  ...      2
3  Graduate Studies Program - Data Scientist  ...      3
4                           Data Scientist I  ...      4

[5 rows x 44 columns]

In [ ]:
data["Link"] = ["No Link" if type(i) != str else i for i in data["Link"]]
data["No_of_Skills"] = [int(i) for i in data["No_of_Skills"]]
data["No_of_Reviews"] = [float(i) for i in data["No_of_Reviews"]]
data["No_of_Stars"] = [int(i) for i in data["No_of_Stars"]]

In [ ]:
conn.upsertVertexDataFrame(data, "Job_Option", "id", attributes={"job_id": "id", "job_link": "Link", "num_skills": "No_of_Skills", "num_reviews": "No_of_Reviews", "num_stars": "No_of_Stars"})

In [ ]:
data["Company"] = ["No Company Found" if type(i) != str else i for i in data["Company"]]

In [ ]:
conn.upsertVertexDataFrame(data, "Job_Type", "Job_Type", attributes={"job_type_id": "Job_Type"})
conn.upsertVertexDataFrame(data, "Job_Title", "Job_Title", attributes={"job_title_id": "Job_Title"})
conn.upsertVertexDataFrame(data, "Salary_Range", "Queried_Salary", attributes={"salary_range": "Queried_Salary"})
conn.upsertVertexDataFrame(data, "Company", "Company", attributes={"company_name": "Company"})

conn.upsertEdgeDataFrame(data, "Job_Option", "JOB_OPTION_SALARY_RANGE", "Salary_Range", "Job_Type", "Queried_Salary", attributes={})
conn.upsertEdgeDataFrame(data, "Job_Option", "JOB_OPTION_COMPANY", "Company", "Job_Type", "Job_Title", attributes={})
conn.upsertEdgeDataFrame(data, "Job_Type", "JOB_TYPE_JOB_TITLE", "Job_Title", "Job_Type", "Job_Title", attributes={})
conn.upsertEdgeDataFrame(data, "Job_Option", "JOB_OPTION_JOB_TITLE", "Job_Title", "id", "Job_Title", attributes={})
conn.upsertEdgeDataFrame(data, "Job_Option", "JOB_OPTION_JOB_TYPE", "Job_Type", "id", "Job_Type", attributes={})

5715

In [ ]:
for job in range(len(data["Skill"])):
  if type(data["Skill"][job]) == str:
      for skill in eval(data["Skill"][job]):
          conn.upsertVertex("Skill", skill, attributes={"skill": skill})
          conn.upsertEdge("Job_Option", job, "JOB_OPTION_SKILL", "Skill", skill)

## Query the Graph

In [ ]:
conn.gsql('''
USE GRAPH JobGraph

DROP QUERY topSkills

CREATE QUERY topSkills () FOR GRAPH JobGraph {
  SumAccum<INT> @connectedJobs;

  Seed = {Job_Option.*};

  Res = SELECT tgt FROM Seed:s - (JOB_OPTION_SKILL:e) - Skill:tgt
        ACCUM tgt.@connectedJobs+=1
        ORDER BY tgt.@connectedJobs DESC
        LIMIT 5;

  PRINT Res;
}

INSTALL QUERY topSkills
''')

[                                                                                     ] 0% (0/1)
[                                                                                     ] 0% (0/1)
[========================================                                             ] 47% (0/1)
[=================================================================================    ] 95% (0/1)
[=====================================================================================] 100% (1/1)

'Using graph \'JobGraph\'\nThe query topSkills is dropped.\nThe query topSkills has been added!\nStart installing queries, about 1 minute ...\ntopSkills query: curl -X GET \'https://127.0.0.1:9000/query/JobGraph/topSkills\'. Add -H "Authorization: Bearer TOKEN" if authentication is enabled.\n'

In [ ]:
conn.runInstalledQuery("topSkills")

In [ ]:
conn.gsql('''
USE GRAPH JobGraph

DROP QUERY topSkillsPerSalaryRange

CREATE QUERY topSkillsPerSalaryRange(Vertex<Salary_Range> salaryRange) FOR GRAPH JobGraph {
  SumAccum<INT> @connectedJobs;

  Seed = {salaryRange};
  
  Jobs = SELECT tgt FROM Seed:s - (JOB_OPTION_SALARY_RANGE:e) - Job_Option:tgt;

  Res = SELECT tgt FROM Jobs:s - (JOB_OPTION_SKILL:e) - Skill:tgt
        ACCUM tgt.@connectedJobs+=1
        ORDER BY tgt.@connectedJobs
        LIMIT 5;

  PRINT Res;
}

INSTALL QUERY topSkillsPerSalaryRange
''')

[                                                                                     ] 0% (0/1)
[                                                                                     ] 0% (0/1)
[========================================                                             ] 47% (0/1)
[=================================================================================    ] 95% (0/1)
[=====================================================================================] 100% (1/1)

'Using graph \'JobGraph\'\nQuery topSkillsPerSalaryRange could not be found.\nThe query topSkillsPerSalaryRange has been added!\nStart installing queries, about 1 minute ...\ntopSkillsPerSalaryRange query: curl -X GET \'https://127.0.0.1:9000/query/JobGraph/topSkillsPerSalaryRange?salaryRange=VALUE\'. Add -H "Authorization: Bearer TOKEN" if authentication is enabled.\n'

In [ ]:
conn.runInstalledQuery("topSkillsPerSalaryRange", {"salaryRange": "<80000"})

[{'Res': []}]

# Congrats!

Congrats! You've now created a job graph with TigerGraph and queried it to gain some insights!

If you have any questions, feel free to ask in [the TigerGraph Discord](https://discord.gg/gRHWBZNpxW) or in [the Community Page](https://community.tigergraph.com/).